# Discord (set these to use Discord)
DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
DISCORD_USER_ID=

# Slack (set these to use Slack)
SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_CHANNEL_ID=
SLACK_USER_ID=

# Timeout
ASK_TIMEOUT_MS=18000000 # 5 hours
